In [4]:
t=(3,4,5,6)
print(type(t))
print(id(t))
print(id(t[0]))
t=('1',1.1,1,len('vi')) #heterogeneous
t=((1,2),(3,4,5),(6,7))
print(t)

<class 'tuple'>
1895611444336
140716192704352
((1, 2), (3, 4, 5), (6, 7))

In [7]:
t=(1)
print(type(t))
t=(1,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [14]:
t=(1,2,"hello")
print(t[2][1])
t=((1,2),(3,4,5),(6,7,8),(9,10,11))
print(t[2][2])
print(t[-2][-1])
t=(((1,2),(3,4,5),(6,7,8)),(9,10,11))
print(t[0][1][1])
print(t[-2][-2][-2])

e
8
8
4
4

In [19]:
# Slicing
t=("a","b","c")
print(t[::-1])
t=(1,2,3,4,5,7)
print(t[1::2])

('c', 'b', 'a')
(2, 4, 7)

In [23]:
# In slicing dimension does not reduce
# but when you access element by index it reduces dimension by 1
t=(1,2,3,4,5,7)
print(t[0:1])
print(t[0])
# print(len(t[0]))-->Error-->since integer does not have length
print(len(t[0:1]))

(1,)
1
1

In [29]:
# tuple is immutable ds
t=(1,2,3,4,5,"Hello")
# t[0]=5  TypeError--> tuple is immutable
# t[-1][-1]="j"   TypeError--> string is also immutable
t=(1,2,[9,"hello"],4)
t[2][0]="DADA" #list is mutable
print(t,"❤️")

(1, 2, ['DADA', 'hello'], 4) ❤️

In [30]:
# you can do del t
# but you can't do del t[0] cause tuple is immutable

In [36]:
# arithmetic operators
t=("a","b","c")
t=t+(3,4)+(5,6)
print(t)
print(t*4)

('a', 'b', 'c', 3, 4, 5, 6)
('a', 'b', 'c', 3, 4, 5, 6, 'a', 'b', 'c', 3, 4, 5, 6, 'a', 'b', 'c', 3, 4, 5, 6, 'a', 'b', 'c', 3, 4, 5, 6)

In [42]:
# membership operator
print("1" in (1,2,3))
print(1 in (1,2,3))
print("1" in ("213",2,3))

False
True
False

In [49]:
# Using loops to traverse list
t=(1,2,3,4,5)
for i in t:
    print(i)
for i,j in enumerate(t):
    print(i,"-->",j)
print(tuple(enumerate(t)))
print(tuple(enumerate(t,start=11)))

1
2
3
4
5
0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))
((11, 1), (12, 2), (13, 3), (14, 4), (15, 5))

In [56]:
# Write a program to take a tuple in input and create two different tuples that seperates even add terms from input tuple
t=eval(input("Enter tuple: "))# eval-->will  take tuple or list or dictionary or anything in input
even=()
odd=()
for i in t:
    if(i%2==0):
        even+=(i,)
    elif(i%2!=0):
        odd+=(i,)
    else:
        print("invalid")
print("even : ",even)
print("odd : ",odd)

Enter tuple: (1,2,3,4,5,6,7,8)
even :  (2, 4, 6, 8)
odd :  (1, 3, 5, 7)

In [60]:
t=(1,2,3,4)
# methods: len,min,max,sum.sorted : this method requires tuple to have homogeneous data otherwise it will give error
print(len(t))
print (min(t))
print(max(t))
print(sum(t))
print(sorted(t))#returns list instead of tuple
print(sorted(t,reverse=True))

4
1
4
10
[1, 2, 3, 4]
[4, 3, 2, 1]

In [62]:
t=("vishal","B1","Hello")
print(sorted(t,key=len))

['B1', 'Hello', 'vishal']

In [64]:
t=(1,2,3,4,5,2,2)
print(t.index(3))
print(t.count(2))#you can't pass start and end range for count in this-->differes from string

2
3

In [72]:
x=(i for i in range(1,100))#generator of x
print(x)
print(tuple(x))

<generator object <genexpr> at 0x000001B95B4C3740>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [77]:
# print max even,odd and min even,odd
t=eval(input("Enter a tuple:"))
even=()
odd=()
for i in t:
    if(i%2==0):
        even+=(i,)
    else:
        odd+=(i,)
print("max even",max(even))
print("min even",min(even))
print("max odd",max(odd))
print("min odd",min(odd))

# Method -2
x=tuple((i for i in t if i%2==0))
y=tuple((i for i in t if i%2!=0))
print(max(x),min(x))
print(max(y),min(y))

Enter a tuple:(1,2,3,4,5,6,7,8,9)
max even 8
min even 2
max odd 9
min odd 1
8 2
9 1